.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#searchBar{
  padding: 0.5rem 1rem;
}

.search-button{
  background-color: aqua;
  color: #282c34;
  padding: 0.25rem 0.5rem;
  border: none;
}