* {
  margin: 0;
  padding: 0;
}

.navbar{
    display: flex;
    background-color: #3d3d3d;
    padding: 1rem;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #ddd;
}

.active{
   color: aqua;
   font-weight: 600;
}

.login-form{
    margin: 1rem;
}